body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: yellow;
  padding: 30px;
  color: 333;
  background-image: url("img/fundo.jpg");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(249, 253, 3);
  padding: 20px 30px;
  border-radius: 30px;
}
h1 {
  text-align: center;
}
h2 {
  margin-bottom: 10px;
}
p{
  margin: 10px 0;
}
input{
  box-sizing: border-box;
}
button{
  background-color:black;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  opacity: .9;
  transition: .3s;
  margin-right: 10px;
}
button:hover{
  opacity: 5;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo{
background-color: white;
box-shadow: shadow 0 0 10px black ;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
display: flex;
justify-content:  space-between;
align-items: center;
}
.finalizar{
  background-color: brown;
}
.remover{
  background-color: red;
}
.form{
  padding-bottom: 1.5rem;
}
input,select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}